<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Politica</title>
  </head>
  <body>
    <div class="container">
      <h6>El servicio prestado por este chatbot es de cáracter meramente orientativo y sus respuestas no tienen la consideración de vinculantes a efectos legales y/o de una pretendida exigencia de responsabilidad. El usuario acepta dicha limitación de responsabilidad con el uso del presente servicio</h6>
    </div>
  </body>
</html>
